.switch-enter-active {
  animation: switch-in 1s;
}

.switch-leave-active {
  animation: switch-out 0.6s;
}
@keyframes switch-in {
  0% {
    transform: translateX(150px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes switch-out {
  0% {
    transform: translateX(0px);
    opacity: 0.5;
  }

  100% {
    transform: translateX(-150px);
    opacity: 0;
  }
}

#shell-main {
  position: absolute;
  width: 2048px;
  height: 1536px;
  background: url("../assets/images/bg.jpg") no-repeat;

  .btn1,
  .btn2,
  .btn3,
  .btn4,
  .btn5,
  .btn6,
  .btn7,
  .btn8,
  .btn9 {
    position: absolute;
    // line-height: 20px;
    // border: 1px solid red;
    // font-size: 14px;
    // text-align: center;
    transform: scale(0.8);
    opacity: 0.3;
    z-index: 200;
  }

  .btn1 {
    width: 320px;
    height: 260px;
    left: 30px;
    top: 250px;
    background: url("../assets/images/jjsj.png") no-repeat;
  }

  .btn2 {
    width: 318px;
    height: 260px;
    left: 30px;
    top: 550px;
    background: url("../assets/images/gllw.png") no-repeat;
  }

  .btn3 {
    width: 269px;
    height: 260px;
    left: 30px;
    top: 850px;
    background: url("../assets/images/zonglan.png") no-repeat;
  }

  .btn4 {
    width: 326px;
    height: 260px;
    left: 30px;
    top: 1150px;
    background: url("../assets/images/wxpys.png") no-repeat;
  }

  .btn5 {
    width: 301px;
    height: 260px;
    right: 30px;
    top: 250px;
    background: url("../assets/images/zfsp.png") no-repeat;
  }

  .btn6 {
    width: 301px;
    height: 260px;
    right: 30px;
    top: 550px;
    background: url("../assets/images/csjt.png") no-repeat;
  }

  .btn7 {
    width: 301px;
    height: 260px;
    right: 30px;
    top: 850px;
    background: url("../assets/images/slgh.png") no-repeat;
  }

  .btn8 {
    width: 299px;
    height: 259px;
    right: 30px;
    top: 1150px;
    background: url("../assets/images/zdsn.png") no-repeat;
  }

  .btn9 {
    width: 299px;
    height: 260px;
    left: 840px;
    top: 110px;
    background: url("../assets/images/jtjs.png") no-repeat;
  }

  .activeBtn{
    opacity: 1;
    transform: scale(1);
  }

  #main-view {
    position: absolute;
    // left: 200px;
    // top: 0;
    left: 300px;
    top: 330px;
    width: 2000px;
    height: 450px;
    // border: 1px solid red;
    // overflow: hidden;
    transform: scale(0.705, 1);
    transform-origin: 0 0 0;
    background-color: black;
    // overflow: hidden;
    z-index: 100;
    // background: url("../assets/images/main-view.png") no-repeat;
    .border-images{
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(255,255,255,0.3);
      pointer-events: none;
    }
  }

  #sub-view {
    position: absolute;
    // left: 200px;
    // top: 200px;
    left: 334px;
    top: 880px;
    // width: 600px;
    // height: 200px;
    width: 1339px;
    height: 551px;
    // border: 1px solid red;
    background: url("../assets/images/sub-view.png") no-repeat;
    // overflow: hidden;
    .title {
      position: absolute;
      width: 100%;
      height: 100%;
      color: pink;
      font-size: 60px;
      line-height: 200px;
      text-align: center;
      z-index: -1;
    }
  }

  #edit-btn {
    position: absolute;
    left: 1240px;
    top: 820px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    border: 1px solid red;
    font-size: 12px;
    text-align: center;
  }

  #drag-in-btn {
    position: absolute;
    left: 880px;
    top: 810px;
    width: 47px;
    height: 46px;
    // line-height: 30px;
    // border: 1px solid red;
    // font-size: 12px;
    // text-align: center;
    background: url("../assets/images/arrow-in.png") no-repeat;
  }

  #drag-out-btn {
    position: absolute;
    left: 1080px;
    top: 810px;
    width: 47px;
    height: 46px;
    // line-height: 30px;
    // border: 1px solid red;
    // font-size: 12px;
    // text-align: center;
    background: url("../assets/images/arrow-out.png") no-repeat;
  }
}
