.switch-enter-active {
  animation: switch-in 1s;
}

.switch-leave-active {
  animation: switch-out 0.6s;
}
@keyframes switch-in {
  0% {
    transform: translateX(150px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes switch-out {
  0% {
    transform: translateX(0px);
    opacity: 0.5;
  }

  100% {
    transform: translateX(-150px);
    opacity: 0;
  }
}

#shell-main {
  position: absolute;
  width: 1920px;
  height: 1080px;

  .btn1,
  .btn2,
  .btn3,
  .btn4 {
    position: absolute;
    width: 60px;
    height: 20px;
    line-height: 20px;
    border: 1px solid red;
    font-size: 14px;
    text-align: center;
  }

  .btn1 {
    left: 100px;
    top: 50px;
  }

  .btn2 {
    left: 100px;
    top: 110px;
  }

  .btn3 {
    left: 840px;
    top: 50px;
  }

  .btn4 {
    left: 840px;
    top: 110px;
  }

  #main-view {
    position: absolute;
    left: 200px;
    top: 0;
    width: 2000px;
    height: 450px;
    border: 1px solid red;
    // overflow: hidden;
    transform: scale(0.3, 0.4);
    transform-origin: 0 0 0;
    // background-color: black;
  }

  #sub-view {
    position: absolute;
    left: 200px;
    top: 200px;
    width: 600px;
    height: 200px;
    border: 1px solid red;
    // overflow: hidden;
    .title {
      position: absolute;
      width: 100%;
      height: 100%;
      color: pink;
      font-size: 60px;
      line-height: 200px;
      text-align: center;
      z-index: -1;
    }
  }

  #edit-btn {
    position: absolute;
    left: 840px;
    top: 200px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    border: 1px solid red;
    font-size: 12px;
    text-align: center;
  }
  #drag-in-btn {
    position: absolute;
    left: 840px;
    top: 250px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    border: 1px solid red;
    font-size: 12px;
    text-align: center;
  }
  #drag-out-btn {
    position: absolute;
    left: 840px;
    top: 300px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    border: 1px solid red;
    font-size: 12px;
    text-align: center;
  }
}
