#page2 {
  position: absolute;
  font-size: 30px;
  // background: url("../../assets/images/2.png");
  background-color: black;
  width: 2000px;
  height: 450px;
  color: rgba(0, 255, 255, 1);

  .edit{
    box-shadow: 0px 0px 140px 5px rgba(0, 255, 255, 0.5) inset;
  }
  .active{
    // box-shadow: 0px 0px 140px 5px rgba(255, 255, 0, 0.5) inset;
    box-shadow: 0px 0px 140px 5px rgba(255, 0, 0, 0.5) inset;
  }
  // .title {
  //   color: yellow;
  //   line-height: 100%;
  // }
  #video1,
  #video2 {
    position: absolute;
    top: 60px;
    width: 180px;
    height: 370px;
    border: 1px solid red;
  }

  #video1 {
    left: 10px;
  }

  #video2 {
    right: 10px;
  }

  #pies {
    position: absolute;
    left: 210px;
    top: 60px;
    width: 180px;
    height: 240px;
    border: 1px solid red;

    #pie1,
    #pie2 {
      position: absolute;
      left: 0px;
      width: 180px;
      height: 110px;
      border: 1px solid red;
    }

    #pie1 {
      top: 0;
    }

    #pie2 {
      top: 120px;
    }
  }

  #bar1 {
    position: absolute;
    left: 400px;
    top: 184px;
    width: 180px;
    height: 120px;
    border: 1px solid red;
  }

  #bar2 {
    position: absolute;
    left: 210px;
    top: 310px;
    width: 370px;
    height: 120px;
    border: 1px solid red;
  }

  #pyramid {
    position: absolute;
    left: 400px;
    top: 60px;
    width: 180px;
    height: 120px;
    border: 1px solid red;
  }

  #map {
    position: absolute;
    left: 604px;
    top: 60px;
    width: 600px;
    height: 370px;
    border: 1px solid red;
  }

  #mini-map {
    position: absolute;
    left: 1057px;
    top: 238px;
    width: 348px;
    height: 184px;
    border: 1px solid red;
  }

  #announcement {
    position: absolute;
    left: 1220px;
    top: 60px;
    width: 160px;
    height: 170px;
    border: 1px solid red;
  }

  #pictorial-bar {
    position: absolute;
    left: 1420px;
    top: 60px;
    width: 180px;
    height: 120px;
    border: 1px solid red;
  }

  #radar {
    position: absolute;
    left: 1420px;
    top: 184px;
    width: 180px;
    height: 120px;
    border: 1px solid red;
  }

  #lines {
    position: absolute;
    left: 1420px;
    top: 310px;
    width: 370px;
    height: 120px;
    border: 1px solid red;

    #line1,
    #line2 {
      position: absolute;
      top: 0;
      width: 170px;
      height: 110px;
      border: 1px solid red;
    }

    #line1 {
      left: 10px;
    }

    #line2 {
      left: 190px;
    }
  }

  #picture {
    position: absolute;
    left: 1616px;
    top: 60px;
    width: 180px;
    height: 240px;
    border: 1px solid red;
  }
}
